$primary: #1890ff;
$primary-hover: #0280b3;

// Text
$text-light: #fff;

// Background
$bg-dark: #001b35;
$bg-grey: #f0f3f4;
$bg-dk-web: #12212b;

// Border
$border-gray: #808080;

// Status
$success: #84b84c;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkendin: #0077b5;
